@model OrganiseClientsMeetings.ViewModel.MeetingViewModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Add a Gig</h2>
@using (Html.BeginForm("AddMeeting", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>   
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.EditorFor(model => model.Date, new { @type = "date" })
        @Html.ValidationMessageFor(m => m.Date)
    </div> 
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.EditorFor(model => model.Time, new { @type = "date" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>  
    <div class="form-group">
        @Html.LabelFor(m => m.Payment)
        @Html.TextBoxFor(m => m.Payment, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Comment)
        @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
    </div>
   <button type="submit" class="btn btn-primary">Save</button>
}
