@model OrganiseClientsMeetings.ViewModel.MeetingViewModel

@{
    ViewBag.Title = "Add new meeting";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h2>@ViewBag.Title</h2>
<asp:Content ContentPlaceHolderID="MainContent" runat="server"><asp:Content ContentPlaceHolderID="MainContent" runat="server">
    @using (Html.BeginForm("AddMeeting", "Home", FormMethod.Post,
                                             new { id = "meetingForm", enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Date)
            @Html.EditorFor(model => model.Date, new { @type = "date" })
            @*@Html.ValidationMessageFor(m => m.Date)*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StartTime)
            @Html.EditorFor(model => model.StartTime, new { @type = "date" })
            @*@Html.ValidationMessageFor(m => m.STime)*@
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EndTime)
            @Html.EditorFor(model => model.EndTime, new { @type = "date" })
        </div>

        <button type="button" class="btn btn-warning" id="check_availability">Check Availability</button>
        <div id="date_not_available_info" class="alert alert-warning">
            <h4>You already have client for this time.</h4>
        </div>
        <div id="date_is_available_info" class="alert alert-success" role="alert">
            <h4>Time is Available.</h4>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Payment)
            @Html.TextBoxFor(m => m.Payment, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Comment)
            @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
        </div>
        <h4>Upload new images:</h4>
        <div id="photo">
            <input type="file" name="files" />
            <input type="button" onclick="AddMorePhotos()" value="Add" />
        </div>
        @*<div id="photo" >
                <div><p id="upload_1">Upload new image: </p><input type="file" name="files" id="file1" /></div>
                <p class="add_more_photo" id="add_1" onclick="MakeNextVisible(this)">Add more photos</p>
            </div>*@
        <button type="submit" class="btn btn-primary">Save</button>
    }
    <script>
        //document.getElementsByClassName("additional-photos").onclick = function () { MakeNextVisible(this) };

        function AddMorePhotos() {
            var div = document.createElement('DIV');
            div.innerHTML = GetPhotosDynamically("");
            document.getElementById("photo").appendChild(div);
        }

        function RemovePhotos(div) {
            document.getElementById("photo").removeChild(div.parentNode.parentNode);
        }

        function GetPhotosDynamically(value) {
            return '<div id="photo"><input type="file" name="files" /><input type="button" onclick="RemovePhotos(this)" value="Remove" /></div>';
        }

        $(function () {
            $("#check_availability").click(function (e) {
                var form = $("#meetingForm").serialize();
                //console.log(form);
            $.ajax({
                url: "@Url.Action("CheckTimeAvailability", "Home")",
                type: "GET",
                //dataType: "text/html",
                contentType: 'application/json',
                data: form,
                success: function (resp, status, xhr) {
                    var responseResult = xhr.responseText;
                    if (responseResult == "False") {
                        SendNoAvailableInfo();
                    }
                    if (responseResult == "True") {
                        SendIsAvailaleInfo();
                    }
                },
                error: function (textStatus) {
                    console.log(textStatus);
                }
                });
            });
        })

        function MakeNextVisible(element)
        {
            var idNumber = parseInt(element.id.slice(-1)) + 1;
            if (idNumber >= 5) {  idNumber = 5}
            var nextId = "photo_" + idNumber;
            var previousId = idNumber - 1;
            var addId = "add_" + previousId;
            var uploadId = "upload_" + previousId;
            document.getElementById(nextId).style.display = "block";
            document.getElementById(uploadId).style.display = "none";
            document.getElementById(addId).style.display = "none";
        }

        function SendNoAvailableInfo()
        {
            document.getElementById("date_is_available_info").style.display = "none";
            document.getElementById("date_not_available_info").style.display = "block";
        }

        function SendIsAvailaleInfo()
        {
            document.getElementById("date_not_available_info").style.display = "none";
            document.getElementById("date_is_available_info").style.display = "block";
        }
    </script>
